/* login.css */
body {
  font-family: Arial, sans-serif;
  background-image: url('../public/Assets/GameScenes/PuzzleSbk.png'); /* Ruta a la imagen */
  background-size: cover; /* Ajusta la imagen para cubrir toda el área */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3rem; /* Aumentado el padding para más espacio */
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h1 {
  color: #ff7f00; /* Color naranja */
  margin-bottom: 50px; /* Aumentado margen inferior */
}

input {
  width: 80%;
  padding: 1rem; /* Aumentado padding para un input más grande */
  margin: 1rem 0; /* Aumentado margen entre inputs */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #f04355; /* Color naranja */
  color: white;
  border: none;
  padding: 1rem; /* Aumentado padding para un botón más grande */
  width: 60%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
  margin-top: 1.5rem; /* Añadido margen superior para separar de inputs */
}

button:hover {
  background-color: #a13929;
}

.error-message {
  color: red;
  margin-top: 1.5rem; /* Aumentado margen superior */
  font-size: 0.9rem;
}
