/* Contenedor principal */
.register-patient-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding: 2rem;
  }

  /* Aseguramos que el fondo ocupe toda la pantalla */
.background-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Título principal */
  .register-patient-container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #ff7f00; /* Color cálido */
    text-align: center;
  }
  
  /* Mensaje de error */
  .error-message {
    color: #dc3545; /* Rojo para errores */
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  /* Formulario */
  .register-patient-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: #fff; /* Fondo blanco */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  /* Etiquetas */
  .register-patient-form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
  }
  
  /* Campos de entrada */
  .register-patient-form input {
    width: 90%;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  /* Efecto al enfocar un campo */
  .register-patient-form input:focus {
    border-color: #ff7f00; /* Resaltar color naranja */
    outline: none;
  }
  
  /* Botón de envío */
  .btn-submit {
    background-color: #28a745; /* Verde para éxito */
    color: white;
    border: none;
    width: 25%;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
  }
  
  /* Hover en el botón de envío */
  .btn-submit:hover {
    background-color: #dc3545; /* Verde más oscuro */
  }
  
  /* Adaptación para pantallas pequeñas */
  @media (max-width: 768px) {
    .register-patient-container {
      padding: 1rem;
    }
    .register-patient-form {
      padding: 1.5rem;
    }
  }
  